body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, 	#FF00FF, #00ffff);
}

canvas {
  border: 1px solid #000;
}
